fastapi
uvicorn
python-multipart
langchain
langchain-community
langchain-groq
langchain-huggingface
langchain-text-splitters
langgraph
chromadb
rank_bm25
sentence-transformers
pypdf
pydantic
torchvision
